.addUser div {
    border: unset;
}

.addUser label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.addUser input {
    padding: 5px;
    width: 100%;
    border-radius: 3px;
}