
.addUser {
    max-width: 50rem;
    width: auto;
}

.addUser div {
    border: unset;
}

.addUser label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.addUser input {
    padding: 5px;
    width: 100%;
}

.action{
    position: relative;
    flex-wrap: nowrap;
}