.center{
    display: flex;
    justify-content: center;
}

.ad{
position:absolute;
top: 150px;
left: 120px;
background-color: burlywood;
width:20%;
font-size: 1.3rem;
font-weight: bold;
padding:15px;
}